{include file="common@common/meta"}

    <title>新建网站角色 - 管理员管理</title>
</head>
<body>
<article class="cl pd-20">
    <form action="{:url('')}" method="post" class="form form-horizontal" id="form-admin-role-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="21312312" placeholder="" id="role_name" name="role_name" datatype="*4-16" nullmsg="用户账户不能为空">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">备注：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="description" name="description">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">网站角色：</label>
            <div class="formControls col-xs-8 col-sm-9">
                {volist name="auth" id="auth_item" key="i"}
                    {empty name="$auth_item.sub_auth"}
                        <dl class="permission-list">
                            <dt>
                                <label>
                                    <input type="checkbox" value="1">{$auth_item.name_c}</label>
                            </dt>
                            <dd>
                                <dl class="cl permission-list2">
                                    <dt>
                                        <label class=""><input type="checkbox">{$auth_item.name_c}</label>
                                    </dt>
                                    <dd>
                                        <label class=""><input type="checkbox" value="1" name="auth_{$i}[add]" id="auth_{$i}_add">添加</label>
                                        <label class=""><input type="checkbox" value="1" name="auth_{$i}[edit]" id="auth_{$i}_edit">修改</label>
                                        <label class=""><input type="checkbox" value="1" name="auth_{$i}[delete]" id="auth_{$i}_delete">删除</label>
                                        <label class=""><input type="checkbox" value="1" name="auth_{$i}[view]" id="auth_{$i}_view">查看</label>
                                        <!--<label class="">-->
                                            <!--<input type="checkbox" value="" name="user-Character-0-0-0" id="user-Character-0-0-4">-->
                                            <!--审核</label>-->
                                        <label class="c-orange"><input type="checkbox" value="1" name="auth_{$i}[own]" id="auth_{$i}_own"> 只能操作自己发布的</label>
                                    </dd>
                                </dl>
                            </dd>
                        </dl>
                    {else /}
                        <dl class="permission-list">
                            <dt>
                                <label>
                                    <input type="checkbox" value="1" name="auth_{$i}" id="auth_{$i}">
                                    {$auth_item.name_c}</label>
                            </dt>
                            <dd>
                                {volist name="$auth_item.sub_auth" id="sub_auth" key="k"}
                                    <dl class="cl permission-list2">
                                        <dt>
                                            <label class="" for="auth_{$i}_{$k}"><input type="checkbox" value="1" name="auth_{$i}_{$k}" id="auth_{$i}_{$k}">{$sub_auth.name_c}</label>
                                        </dt>
                                        <dd>
                                            <label class="" for="auth_{$i}_{$k}_add"><input type="checkbox" value="1" name="auth_{$i}_{$k}[add]" id="auth_{$i}_{$k}_add">添加</label>
                                            <label class="" for="auth_{$i}_{$k}_edit"><input type="checkbox" value="1" name="auth_{$i}_{$k}[edit]" id="auth_{$i}_{$k}_edit">修改</label>
                                            <label class="" for="auth_{$i}_{$k}_delete"><input type="checkbox" value="1" name="auth_{$i}_{$k}[delete]" id="auth_{$i}_{$k}_delete">删除</label>
                                            <label class="" for="auth_{$i}_{$k}_view"><input type="checkbox" value="1" name="auth_{$i}_{$k}[view]" id="auth_{$i}_{$k}_view">查看</label>
                                            <!--<label class="">-->
                                            <!--<input type="checkbox" value="" name="user-Character-0-0-0" id="user-Character-0-0-4">-->
                                            <!--审核</label>-->
                                            <label class="c-orange" for="auth_{$i}_{$k}_own"><input type="checkbox" value="1" name="auth_{$i}_{$k}[own]" id=auth_{$i}_{$k}_own"> 只能操作自己发布的</label>
                                        </dd>
                                    </dl>
                                {/volist}
                            </dd>
                        </dl>
                    {/empty}
                {/volist}
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-success radius" id="admin-role-add"><i class="icon-ok"></i> 确定</button>
            </div>
        </div>
    </form>
</article>

{include file="common@common/footer"}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    $(function(){
        $(".permission-list dt input:checkbox").click(function(){
            $(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
        });
        // $(".permission-list2 dd input:checkbox").click(function(){
        //     var l =$(this).parent().parent().find("input:checked").length;
        //     var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
        //     if($(this).prop("checked")){
        //         $(this).closest("dl").find("dt input:checkbox").prop("checked",true);
        //         $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
        //     }
        //     else{
        //         if(l==0){
        //             $(this).closest("dl").find("dt input:checkbox").prop("checked",false);
        //         }
        //         if(l2==0){
        //             $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
        //         }
        //     }
        // });

        // $("#form-admin-role-add").validate({
        //     rules:{
        //         roleName:{
        //             required:true,
        //         },
        //     },
        //     onkeyup:false,
        //     //focusCleanup:true,
        //     success:"valid",
        //     submitHandler:function(form){
        //         $("#form-admin-role-add").submit();
        //         var index = parent.layer.getFrameIndex(window.name);
        //         parent.layer.close(index);
        //     }
        // });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>