{include file="common@common/meta"}
    <title>{$title}</title>
</head>
<body>
{include file="common@common/header"}

{include file="common@common/menu"}

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        {volist name="crumb_list" id="crumb_item"}
            <span class="c-gray en">&gt;</span>
            {empty name="crumb_item.url"}
                {$crumb_item.name}
            {else /}
                <a href="{$crumb_item.url}">{$crumb_item.name}</a>
            {/empty}
        {/volist}

        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="text-c">
				<span class="select-box inline">
				<select name="" class="select">
					<option value="0">全部分类</option>
					<option value="1">分类一</option>
					<option value="2">分类二</option>
				</select>
				</span>
                日期范围：
                <input type="text" onfocus="WdatePicker()" id="logmin" class="input-text Wdate" style="width:120px;">
                -
                <input type="text" onfocus="WdatePicker()" id="logmax" class="input-text Wdate" style="width:120px;">
                <input type="text" name="" id="" placeholder=" 资讯名称" style="width:250px" class="input-text">
                <button id="btn_search" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜资讯</button>
            </div>
            <div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
				<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
				<a class="btn btn-primary radius" data-title="{$action.add.text}" _href="{$action.add.url}" onclick="common_add('{$action.add.text}','{$action.add.url}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> {$action.add.text}</a>
				</span>
                <span class="r">共有数据：<strong>{$count}</strong> 条</span>
            </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <thead>
                    <tr class="text-c">
                        <th width="25"><input type="checkbox" name=""></th>
                        {volist name="list" id="item"}
                            <th {notempty name="item.optional.width"}width="{$item.optional.width}"{/notempty}>{$item.name_c}</th>
                        {/volist}
                        <th width="120">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="data" id="data_item"}
                    <tr class="text-c">
                        <td><input type="checkbox" value="{$data_item.id}" name="multi_delete"></td>
                        {volist name="list" id="item"}
                            {switch name="item.kind"}
                                {case value="select"}
                                    <td>{$item.optional.options[$data_item[$item.name_e]]}</td>
                                {/case}
                                {case value="radio"}
                                    <td>{$item.optional.options[$data_item[$item.name_e]]}</td>
                                {/case}
                                {case value="image"}
                                    <td><img {notempty name="$item.optional.class"}class="{$item.optional.class}"{/notempty} src="{$data_item[$item.name_e]}" {notempty name="$item.optional.attr"}{$item.optional.attr}{/notempty}></td>
                                {/case}
                                {case value="checkbox"}
                                    {if condition="$data_item[$item.name_e] eq 1"}
                                        <td>是</td>
                                    {else /}
                                        <td>否</td>
                                    {/if}
                                {/case}
                                {default /}
                                    <td>{$data_item[$item.name_e]}</td>
                            {/switch}
                        {/volist}
                        <td class="f-14 td-manage">
                            <a style="text-decoration:none" class="ml-5" onClick="common_edit('{$action.edit.text}','{$action.edit.url}','{$data_item[$map_key]}')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
                            <a style="text-decoration:none" class="ml-5" onClick="commone_del(this,'{$data_item[$map_key]}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</section>

{include file="common@common/footer"}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin//lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $('.table-sort').dataTable({
        "bStateSave": true,//状态保存
        "aoColumnDefs": [
            {"orderable":false,"aTargets":{notempty name="notsort"}{$notsort}{else / }[0]{/notempty}}// 不参与排序的列
        ]
    });

    /*批量删除*/
    function datadel(){
        var obj = document.getElementsByName("multi_delete");
        var check_val = [];
        var select_list = [];
        for(k in obj){
            if(obj[k].checked){
                check_val.push(obj[k].value);
            }
        }
        layer.confirm('确认要删除选中的数据吗？',function(index){
            $.ajax({
                type: 'POST',
                url: '{$action.delete.url}',
                data:{'{$map_key}':check_val},
                success: function(data){
                    layer.msg('已删除!',{icon:1,time:1000,end:function(){location.replace(location.href)}});
                },
                error:function(data) {
                    console.log(data.reaso);
                },
            });
        });
    }

    /*添加*/
    function common_add(title,url,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    /*编辑*/
    function common_edit(title,url,id,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url + "/{$map_key}/" + id
        });
        layer.full(index);
    }
    /*删除*/
    function commone_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: 'POST',
                url: '{$action.delete.url}',
                data:{'{$map_key}':id},
                dataType: 'json',
                success: function(data){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }

    // /*资讯-审核*/
    // function article_shenhe(obj,id){
    //     layer.confirm('审核文章？', {
    //             btn: ['通过','不通过','取消'],
    //             shade: false,
    //             closeBtn: 0
    //         },
    //         function(){
    //             $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
    //             $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
    //             $(obj).remove();
    //             layer.msg('已发布', {icon:6,time:1000});
    //         },
    //         function(){
    //             $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
    //             $(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
    //             $(obj).remove();
    //             layer.msg('未通过', {icon:5,time:1000});
    //         });
    // }
    // /*资讯-下架*/
    // function article_stop(obj,id){
    //     layer.confirm('确认要下架吗？',function(index){
    //         $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
    //         $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
    //         $(obj).remove();
    //         layer.msg('已下架!',{icon: 5,time:1000});
    //     });
    // }
    //
    // /*资讯-发布*/
    // function article_start(obj,id){
    //     layer.confirm('确认要发布吗？',function(index){
    //         $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
    //         $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
    //         $(obj).remove();
    //         layer.msg('已发布!',{icon: 6,time:1000});
    //     });
    // }
    // /*资讯-申请上线*/
    // function article_shenqing(obj,id){
    //     $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
    //     $(obj).parents("tr").find(".td-manage").html("");
    //     layer.msg('已提交申请，耐心等待审核!', {icon: 1,time:2000});
    // }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>